.content {
    margin-bottom: 20px;
}
.contain-1 {
    display: flex;
    justify-content: center;
}
.contain-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 550px;
}
.col-1{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;

}
.col-2{
    height: 100%;
    width: 80%;
}
.block-2{
    gap: 10px;
    display: flex;
    height: 20%;
    gap: 10;
    margin-right: 15px;
    margin-bottom: 15px;

}
.block-3{
    height: fit-content;
    border-radius: 8px;
    position: relative;
}
.card {
    padding: 16px 20px;
    border-radius: 16px;
}
.card-1{
    justify-content: center;
    flex: 1;
}
.card-2{
    justify-content: center;
    flex: 1;
}
.card-3{
    justify-content: center;
    flex: 1;
}
.input {
    width: 360px;
}
.button {
    padding: 4px 20px;
    margin-bottom: 5px;
}
.emoji {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.contain-1 h3 {
    padding: 12px 28px;
}
.comment {
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.res {
    margin-top: 80px;
}
.ratings {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}
.ratings span {
    background-color: #ea471e;
    padding: 8px 20px;
    color: white;
}
.input-box {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.emotion-bar {
    display: flex;
    justify-content: center;
    position: relative;
}
.bar-item {
    margin-top: 26px;
    width: 82px;
    height: 16px;
}
.arrow {
    position: absolute;
    top: 4px; /* Đặt vị trí mũi tên lên trên thanh */
    left: 31%; /* Canh giữa theo chiều ngang */
    transform: translateX(-50%); /* Cân chỉnh chính xác ở giữa */
}
.form-area {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.block {
    display: block;
}
.chart-container {
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
}
#sentimentChart {
    height: 400px !important;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    background-color: #f9f9e5;
}
.view-detail {
    display: flex;
    justify-content: end;
}
.view-btn {
    width: fit-content;
}
